@import 'params';

@mixin clear {
	margin: 0;
	padding: 0;
}

@mixin clear-list {
	@include clear;
	list-style: none;
}

@mixin centered {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin cherry-header($transform: capitalize) {
	text-transform: $transform;
	font-weight: 700;
	font-size: 30px;
	color: $main-grey;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	margin: 0;
	padding: 0;
	
	&::first-letter {
		color: $cherry-color;
	}
}

@mixin article-header($transform: capitalize) {
	text-transform: $transform;
	font-weight: 700;
	font-size: 18px;
	color: $article-header-color;
	margin: 0;
	padding: 0;
}
