@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

$bg-color: rgb(243, 243, 243);

.bcrumbs {
    height: 26px;
    background-color: $bg-color;

	&__wrapper {
		display: flex;
		align-items: center;
		margin-left: 24px;
	}

	&__layer {
        margin: 0 4px;
        color: rgb(90, 90, 90);		
	}

	&__link {
		font-size: 11px;
		font-weight: 400;
		line-height: 24px;

		&--home {
            text-decoration: underline;
            color: rgb(149, 22, 31);
		}

		&--other {
			text-decoration: underline;
			color: rgb(149, 22, 31);
        }
        
		&--this {
			text-decoration: none;
			color: rgb(107, 111, 116);
		}
	}
}
