@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

$bg-color: white;

@mixin table-border {
	border: 1px solid rgb(216, 219, 222);
}

.content {
	padding-top: 19px;
	display: flex;
	justify-content: space-between;
	background-color: $bg-color;

	//Aside
	.side {
		margin: 0 22px;
		flex-basis: 21%;

		.conForm {
			@include centered;
			flex-direction: column;
			padding: 0 14px;
			border: 1px solid rgb(216, 219, 222);
			box-sizing: border-box;
			background-color: rgb(243, 243, 243);
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			&__header {
				@include article-header;
				margin-top: 19px;
				align-self: flex-start;
			}

			&__wrapper {
				@include centered;
				margin: 16px 14px 0;
				border-radius: 3px;
				border-style: solid;
				border-width: 1px;
				width: 100%;
				height: 31px;
				background-color: rgb(227, 228, 229);

				&--input {
					border-color: rgb(255, 252, 252);
					box-shadow: inset 0px 3px 5px 0px rgba(179, 179, 179, 0.7);
				}

				&--select {
					border-color: rgb(162, 162, 162);
				}
			}

			&__item {
				color: rgb(117, 117, 117);
				font-size: 14px;
				font-weight: 400;
				width: 90%;
				background-color: transparent;
				border: 0;
			}

			&__btn {
				margin: 18px 0 33px;
				border-style: solid;
				border-width: 5px;
				border-color: #ffffff;
				box-sizing: border-box;
				background: linear-gradient(0deg, #95161f 0%, #b0252e 100%);
				box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.19);
				width: 177px;
				height: 46px;
				color: white;
				font-size: 16px;
				font-weight: 400;
				text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.75);
				cursor: pointer;
			}
		}

		.article {
			margin-top: 27px;

			&__header {
				@include article-header;
			}

			&__text {
				color: rgb(92, 100, 110);
				font-size: 12px;
				font-weight: 400;
				line-height: 20px;
			}

			&__link {
				color: rgb(149, 22, 31);
				font-size: 12px;
				font-weight: 400;
				line-height: 20px;
				text-decoration: underline;
			}
		}
	}

	//Main
	.main {
		margin: 0 24px 0 10px;
		flex-basis: 79%;

		&__header {
			@include cherry-header;
		}

		&__underHeader {
			color: rgb(92, 100, 110);
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
		}

		&__link {
			color: rgb(149, 22, 31);
			text-decoration: underline;
		}

		&__pics {
			display: flex;
			margin-bottom: 30px;
		}

		.article {
			margin-right: 14px;

			&__header {
				@include article-header;
				margin-bottom: 11px;
			}

			&__pic {
				padding: 0;
				margin: 0;
				border: 1px solid white;
				box-sizing: border-box;
				box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.3);
				width: 196px;
				height: 142px;
				background: white no-repeat center center;
				background-size: contain;

				&--1 {
					background-image: url(../images/Pic1.jpg);
				}
				&--2 {
					background-image: url(../images/Pic2.jpg);
				}
				&--3 {
					background-image: url(../images/Pic3.jpg);
				}
			}
		}

		&__lists {
			display: flex;
			margin-top: 10px;
			margin-bottom: 30px;
		}

		.bList {
			margin-left: 18px;
			max-width: 224px;

			&__headerWrapper {
				@include centered;
				justify-content: flex-start;
				color: rgb(92, 100, 110);
				font-weight: 400;
			}

			&__header {
				margin: 0;
				padding: 0;
				font-size: 14px;
				line-height: 24px;
			}

			&__type {
				font-size: 12px;
				margin-left: 5px;
				line-height: 18px;
				background-color: $main-bg-color;
			}

			&__list {
				margin-top: 0;
				color: rgb(92, 100, 110);
				font-size: 14px;
				font-weight: 400;

				&--disc {
					list-style-type: disc;
					padding-left: 23px;
				}

				&--unstyled {
					list-style: none;
					list-style-type: none;
					padding-left: 0;
				}

				&--ordered {
					padding-left: 20px;
				}
			}

			&__item {
				margin-top: 7px;

				&::first-letter {
					text-transform: uppercase;
				}
			}
		}

		.bTable {
			margin-top: 24px;
			margin-bottom: 59px;
			
			&__table {
				// border-collapse: collapse;
				border: 0;
				width: 100%;
				font-size: 12px;

				th,
				td {
					&:first-of-type {
						min-width: 50px;
					}
				}
			}

			&__header {
				color: white;
				font-weight: 700;
				line-height: 20px;
				min-height: 34px;

				th {
					// border: 1px solid rgb(216, 219, 222);
					background-color: $cherry-color;
					&:first-of-type {
						border-top-left-radius: 4px;
					}
					&:last-of-type {
						border-top-right-radius: 4px;
					}
				}
			}

			&__row {
				color: rgb(165, 173, 184);
				font-weight: 400;
				line-height: 24px;
				min-height: 34px;

				td {
					padding: 0 13px;
					background-color: rgb(40, 45, 51);

					&:first-letter {
						text-transform: uppercase;
					}
				}

				&:last-of-type {
					td {
						&:first-of-type {
							border-bottom-left-radius: 4px;
						}
						&:last-of-type {
							border-bottom-right-radius: 4px;
						}
					}
				}
			}

			&__number {
				text-align: center;
			}

			&__link {
				color: rgb(208, 139, 152);
				font-size: 12px;
				font-weight: 400;
				line-height: 24px;
				text-decoration: underline;
			}

		}
	}
}
