@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

.footer {
	@include centered;
	padding-top: 33px;
	padding-bottom: 27px;
	border-top: 7px solid $cherry-color;
	background-color: rgb(36, 43, 51);

	&__blocks {
		display: flex;
		justify-content: space-between;
	}

	&__block {
		margin: 0 8px;
		width: 270px;
	}

	&__header {
		margin: 0;
		padding: 0;
		color: $main-grey;
		font-size: 18px;
		font-weight: 400;
	}

	&__logo {
		display: inline-block;
		text-transform: uppercase;

		&::first-letter {
			color: $cherry-color;
		}
	}

	&__sep {
		color: rgb(18, 22, 26);
		border-bottom: 1px solid rgb(62, 69, 78);
	}

	&__list {
		margin: 0;
		padding: 0;

		&--pic {
			list-style: url('../images/clock.svg');
			padding-left: 29px;
		}

		&--desc {
			list-style: url('../images/dot.svg');
			padding-left: 13px;
		}

		&--unstyled {
			list-style-type: none;
			padding-left: 5px;
		}
	}

	&__item {
		margin: 0;
		padding: 0;
		margin-top: 10px;
		color: rgb(133, 138, 143);
		font-size: 12px;
		font-weight: 400;

		&--header {
			margin-bottom: 5px;
		}
	}

	&__link {
		color: rgb(208, 140, 152);
		font-size: 12px;
		font-weight: 400;
		text-decoration: underline;
	}

	&__callUs {
		margin: 0;
		padding: 0;
		margin-top: 15px;
		color: rgb(165, 173, 184);
		font-size: 14px;
		font-weight: 700;
	}
}
