@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

$bg-color: rgb(42, 53, 60);

.header {
	width: 100%;
	height: 72px;
	background-color: $bg-color;
	display: flex;
	justify-content: center;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__block {
		display: flex;

		&--logo {
			flex-direction: column;
			justify-content: center;
		}

		&--search {
			flex-direction: row;
			align-items: center;
		}
	}

	&__logo {
		@include cherry-header(uppercase);
	}

	&__text {
		color: darken($main-grey, 10%);
		font-size: 12px;
		font-weight: 700;
		line-height: 14px;
	}

	&__inputWrapper {
		@include centered;
		border-radius: 5px;
		border: 1px solid rgb(135, 95, 102);
		box-sizing: border-box;
		background-color: rgb(36, 39, 45);
		width: 198px;
		height: 34px;
	}

	&__input {
		padding: 0;
		margin: 5px 10px;
		height: 100%;
		width: 100%;
		border: 0px;
		background-color: transparent;
		color: lighten($main-grey, 20%);
		font-size: 14px;
		font-weight: 400;
		line-height: 14px;
	}

	&__icon {
		@include centered;
		margin-left: 10px;
		width: 36px;
		height: 34px;
		background-color: $cherry-color;
        border-radius: 5px;   
        cursor: pointer;     
    }

}
