@import 'normalize';

@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

html,
body {
	@include clear;
	width: 100%;
	font-family: Arial, sans-serif;
	background-color: $main-bg-color;
}

.clear {
	@include clear;
}

a {
	text-decoration: none;
}

.viewport {
	width: $viewport;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	// background-color: $main-bg-color;
}

.hide {
	display: none !important;
}
