@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

.slider {
	min-height: 240px;

	&__block {
		display: flex;
		flex-direction: column;
        justify-content: center;
        padding: 39px 0;
		width: 100%;
		height: 100%;
		background: steelblue url('../images/slider_img.jpg') no-repeat center
			center;
		background-size: cover;
	}

	&__info {	
        margin-left: 39px;	        
        max-width: 50%;        
	}

	&__header {
		@include cherry-header;
        @include clear;        
        line-height: 34px;
	}

	&__underHeader {  
        @include clear;      
		color: rgb(40, 45, 51);
		font-size: 18px;
		font-weight: 700;
	}

	&__subHeader {
        @include clear;
        margin-top: 16px;
		color: $main-grey;
		font-size: 18px;
		font-weight: 700;
	}

	&__text {
        @include clear;
        max-height: 65px;
        text-overflow: ellipsis;
        white-space: pre-line;
        overflow: hidden;
        margin-top: 9px;
		color: rgb(217, 220, 223);
		font-size: 14px;
		font-weight: 400;
	}
}
