@import 'partials/params';
@import 'partials/mixins';
@import 'partials/fonts';

$bg-color: rgb(149, 22, 31);

.topnav {
    display: flex;
    justify-content: flex-end;
	height: 36px;
	background-color: $bg-color;

	&__list {
		@include clear-list;
		display: flex;
		justify-content: space-between;
		align-items: center;
        height: 100%;
        width: 700px;
	}

	&__item {
		@include centered;
		height: 100%;
	}

	&__link {
		@include centered;
        padding: 0px 18px;        
		height: 100%;		
		color: white;
		font-size: 16px;
		font-weight: 700;		
	}
}
